DATABASE_URL="postgresql://postgres.mfaysybcyjzhoplshiak:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres"
PORT=
JWT_SECRET=
JWT_SECRET_FORGOT_PASSWORD=
GMAIL_EMAIL=
GMAIL_APP_PASSWORD=
BASE_URL_FE=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=